In [1]:
%pylab inline

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [2]:
import dataiku
from dataiku import pandasutils as pdu
import pandas as pd

In [3]:
# Read the dataset as a Pandas dataframe in memory
# Note: here, we only read the first 100K rows. Other sampling options are available
dataset_job_postings_prepared = dataiku.Dataset("job_postings_prepared")
df = dataset_job_postings_prepared.get_dataframe(limit=100000)

In [4]:
# Get some simple descriptive statistics
pdu.audit(df)

            _a_variable _b_data_type  _c_cardinality  _d_missings                                   _e_sample_values
0                job_id        int64           17880            0                                             [1, 2]
1                 title       object           10915            0  [Marketing Intern, Customer Service - Cloud Vi...
2              location       object            2991          346                 [US, NY, New York, NZ, , Auckland]
3               Country       object              91          346                                           [US, NZ]
4                 State       object             325         2580                                          [NY, nan]
5                  City       object            2202         2068                               [New York, Auckland]
6            department       object            1277        11553                               [Marketing, Success]
7          salary_range       object             875        15012                                 [nan, 20000-28000]
8       company_profile       object            1707         3308  [we re food52 and we ve created a groundbreaki...
9   len_company_profile        int64            1007            0                                        [863, 1255]
10          description       object           14444            1  [food52 a fast growing james beard award winni...
11      len_description        int64            3220            0                                        [889, 2028]
12         requirements       object           11771         2700  [experience with content management systems a ...
13             benefits       object            5820         7218  [nan, what you will get from usthrough being p...
14        telecommuting        int64               2            0                                             [0, 1]
15     has_company_logo        int64               2            0                                             [1, 0]
16        has_questions        int64               2            0                                             [0, 1]
17      employment_type       object               6         3471                                 [Other, Full-time]
18  required_experience       object               8         7050                       [Internship, Not Applicable]
19   required_education       object              14         8105                           [nan, Bachelor's Degree]
20             industry       object             132         4903                   [nan, Marketing and Advertising]
21             function       object              38         6455                      [Marketing, Customer Service]
22           fraudulent        int64               2            0                                             [0, 1]

In [5]:
# Define a function to extract the minimum salary
def extract_min_salary(salary_range):
    if pd.isna(salary_range):  # Keep missing values as missing
        return None
    try:
        min_salary = int(salary_range.split('-')[0])  # Extract minimum salary
        return min_salary
    except:
        return None  # Handle invalid values

# Apply the function to create the "min_salary" column
df['min_salary'] = df['salary_range'].apply(extract_min_salary).astype('Int64')